<h2>Definitions</h2>



<h4>Add a definiton to this list:</h4>

<form action="/definition" method="post">
  <div class="form-group">
    <label for="definition"></label>
    <input id="definition" name="definition"
  </div>
  <button type="submit" class="btn">Add new word!</button>
</form>
<hr>
<a href='/'>Return to home page </a>
