
<h3>You made it to the <%= @@current_word %> page!</h3>
<p>Here are all the definitions on the word "<%= @@current_word %>". Help us add to the list, by creating your own definition!</p>

<% @definition_list.each do |item| %>
  <p><%= item %></a></p>
<% end %>

<form action="/definition" method="post">
  <div class="form-group">
    <label for="definition"></label>
    <input id="definition" name="definition"
  </div>
  <button type="submit" class="btn">Add new definition!</button>
</form>
<hr>
<a href='/'>Return to home page </a>
