<h2>Word List</h2>

<h4>Add a word to the list:</h4>



<form action="/" method="post">
  <div class="form-group">
    <label for="word"></label>
    <input id="word" name="word"
  </div>
  <button type="submit" class="btn">Add new word!</button>
</form>
